.Cinema {
  display: grid;
  perspective: 400px;
  place-items: center;
}

.seats {
  display: grid;
  grid-gap: 6px;
  grid-template-columns: repeat(8, min-content);
  align-items: center;
}

.Cinema .seats .seat:nth-of-type(8n + 2) {
  margin-right: 25px;
}
.Cinema .seats .seat:nth-of-type(8n + 6) {
  margin-right: 25px;
}

/* .Cinema .seats .seat.selected::after,::before {
  content: "";
  position: absolute;
  top: 0;
  left: 2px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: transparent;
  border: 1px solid #7bc47f;

  visibility: hidden;
} */

/* .seat {
  display: inline-block;
  background: #626262;
  width: 16px;
  height: 12px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: transform 0.3s ease-in-out;

  position: relative;
  top: 1px;
} */
.seat.selected {
  background: linear-gradient(#fff 80%, #fff, 0, #cc1f2f 100%);
}
.seat.selected::after {
  background: #626262 !important;
}
.seat.selected::before {
  background: #626262 !important;
}
.screen {
  height: 100px;
  background: white;
  width: 50%;
  margin-left: 25%;
  padding: 20px;

  transform: rotateX(-50deg) scale(1.1);
  box-shadow: 0 3px 10px 2px;
}

.seat {
  width: 35px;
  height: 40px;
  background: #cc1f2f;
  border-radius: 4px 4px 8px 8px;
  position: relative;
  border: 1px solid #fff;
  margin: 5px;
  background: linear-gradient(#cc1f2f 70%, #000 8%, #cc1f2f 77%);
  display: inline-block;
}
.seat::after,
.seat::before {
  content: "";
  display: block;
  width: calc(44px / 6);
  height: calc(44px / 2);
  position: absolute;
  background: #cc1f2f;
  border-radius: 4px;
  border: 1px solid #000;
}
.seat::before {
  right: 30px;
}
.seat::after {
  left: 30px;
}
